.triImage{
	margin-top: 20px;
	border: solid 1px lightgrey;
}

.sectionDiv{

	border-top: solid 1px lightgrey;
}


#space4 h3{
	border: solid 1px black;
	width: 80%;
	margin-left: 10%;
	color: orange;
	background-color: rgb(33,34,33);
}

#space4Div{
	border-bottom: solid 1px black;
	background: aliceblue;
}

.hundred{
	margin-top: 35px;
	width: 85%;
	height: 85%;
	border: solid 3px black;
}
.contact{
    width: 400px;
    margin-left: 125px;
}
.social{
	width: 160px;
	padding-top: 30px;
}
