#leftNavbar img{
	height: 50px;
}

#leftNavbar{
	width: 25%;
	display: inline-block;
}

#studentPage #navLinks{
	width: 50%;
	display: inline-block;
	margin-top: 20px;
	margin-left: 0;
}

#studentPage #navLinks ul{
	width: 100%;
}

#studentPage #navLinks ul li{
	border-left: solid 1px white;
	padding-right: 3px;
	padding-left: 3px;
	font-size: 15px;
}

#studentPage #navLinks ul li:first-child{
	border-left: none;
	padding-left: none;
}

#studentPage #navLinks ul li a{
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;
}

#studentPage .nav-pills{
	margin-left: 0;
}

#rightNavbar{
	width: 25%;
	display: inline-block;
	text-align: right;
}

.btn .caret{
	margin-left: 5px;
}

.dropdown button{
	background-color: transparent;
	border: none;
}
