#student{
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	border: solid 1px white;
	background-color: rgb(33,34,33);
	padding: 20px;
}

#student h4{
	text-align: center;
	color: white;

}

#student label{
	color: white;
	margin-top: 10px;
}