.triImage{
	margin-top: 20px;
	border: solid 1px lightgrey;
}

.sectionDiv{

	border-top: solid 1px lightgrey;
}


#vodlegendsDiv h3{
	border: solid 1px black;
	width: 80%;
	margin-left: 10%;
	color: orange;
	background-color: rgb(33,34,33);
}

#vodlegendsDiv{
	padding-bottom: 30px;
	background-image: url("./lolbg.jpg");
	border-bottom: solid 1px black;
	opacity: .95;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hundred{
	margin-top: 35px;
	width: 85%;
	height: 85%;
	border: solid 3px black;
}
.vodlegendspic{
	width: 400px;
}
.description{
	color: gold;
	font-size: 20px;
    font-weight: bold;
}
.btn-warning{
	color: black;
}
.paragraph{
	padding-left: 30px;
}
.vodlegendstitle{
	width: 500px;
}
