.sectionDiv{
	width: 100%;
	border-top: solid 1px lightgrey;
}

#homeFooter{
	border-top: solid 1px white;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: rgb(33, 34, 33);
	padding-right: 5%;
	background-image: url("background.png");
}

#homeCopyright{
	width: 25%;
	display: inline-block;
	text-align: right;
}

#homeCopyright p{
	color: white;

	border-top: solid 1px #9494b8;
}
.size4 {
	align-content: right;

}
.connect{
	padding-left: 80px;
}