.sectionDiv{

	border-top: solid 1px lightgrey;
}

#homeFooterLeft img{
	height: 50px;
	width: 50px;
}

#homeFooterLeft{
	width: 25%;
	display: inline-block;
}

#homeFooter{
	border-top: solid 1px white;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: rgb(33, 34, 33);
	padding-right: 5%;
}

#homeFooterLinks{
	width: 50%;
	display: inline-block;
	text-align: center;
}

#homeFooterLinks li{
	display: inline-block;
	border-left: solid 1px white;
	padding-left: 5px; 
	padding-right: 5px; 
}

#homeFooterLinks li:first-child{
	border-left: none;
}

#homeFooterLinks li a{
	color: white;
}

#homeCopyright{
	width: 25%;
	display: inline-block;
	text-align: right;
}

#homeCopyright p{
	color: white;

	border-top: solid 1px #9494b8;
}
.size4 {
	align-content: right;

}