.triImage{
	margin-top: 20px;
	border: solid 1px lightgrey;
}

.sectionDiv{

	border-top: solid 1px lightgrey;
}


#brewfinderDiv h3{
	border: solid 1px black;
	width: 80%;
	margin-left: 10%;
	color: white;
	background-color: rgb(33,34,33);
}

#brewfinderDiv{
	padding-bottom: 30px;
	background-image: url("background.png");
	border-bottom: solid 1px black;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hundred{
	margin-top: 35px;
	width: 85%;
	height: 85%;
	border: solid 3px black;
}
.brew{
	width: 400px;
}
.brew_description{
	font-weight: bold;
	border-color: black;
    border-style: double;
    background: honeydew;
}
.black {
    color: #fff;
    background-color: black;
    border-color: black;
}
.paragraph{
	margin-left: 20px;
}