.triImage{
	margin-top: 20px;

	height: 230px;
	width: 230px;
}
.triImage2{
	margin-top: 40px;
/* 	border: solid 1px lightgrey; */
}
.sectionDiv{
	border-top: solid 1px lightgrey;

}

#thirdsDiv{
	background-color: silver;
	padding-bottom: 10px;
}

.sectionDiv img{
	width: 60%;
	height: 200px;
	border: none;

	/* background-color:  #666666; */
	/* background-color: #333300; */
	/* background-color: #c2c2d6; */
	/*  background-color: #9494b8; */
	/* background-color: #3d3d5c; */
	background-color: #595959;
}
.textwhite{
	color: white !important;

}