.coachImage{
	width: 30%;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
 	 border-radius: 5px;
 	 border: solid 3px rgb(0, 119, 193);
 	 display: inline-block;
 	 margin-left: 2%;
 	 margin-bottom: 10px;

}

.topDiv{
	background-color: white;
	-webkit-border-top-left-radius: 5px;
  	-moz-border-top-left-radius: 5px;
 	 border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
  	-moz-border-top-right-radius: 5px;
 	 border-top-right-radius: 5px;
 	 height: 200px;
}

.topDiv p{
	margin-left: 5px;
	margin-right: 5px;
}

.topDiv img{
	height: 50px;
	margin-left: 10px;
	margin-top: 10px;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
 	 border-radius: 5px;
 	 border: solid 1px black;
}

.topDiv h5{
	display: inline-block;
	margin-left: 10px;
	width: 60%;
	font-size: 30px;
	color: rgb(0, 112, 193);
}

#eloPic{
	margin-top: 10px;
	text-align: right;
	display: inline-block;
	border: none;
}

.botDiv{
	background-color: rgb(33,34,33);
	-webkit-border-bottom-left-radius: 5px;
  	-moz-border-bottom-left-radius: 5px;
 	 border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
  	-moz-border-bottom-right-radius: 5px;
 	 border-bottom-right-radius: 5px;
}

.botDiv h5{
	color: white;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

#black{
	color: black;
	font-weight: bold;
}