.triImage{
	margin-top: 20px;
	border: solid 1px lightgrey;
}

.sectionDiv{

	border-top: solid 1px lightgrey;
}


#gymtagDiv h3{
	border: solid 1px black;
	width: 80%;
	margin-left: 10%;
	color: white;
	background-color: rgb(33,34,33);
}

#gymtagDiv{
	padding-bottom: 30px;
	background-image: url("gymbuddy2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: .9;
	border-bottom: solid 1px black;
}

.hundred{
	margin-top: 35px;
	width: 85%;
	height: 85%;
	border: solid 3px black;
}
.gym{
	width: 400px;
}
.gym_description{
	color: black;
    background: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}
.paragraph{
	margin-right: 20px;
}
.gymtitle{
	width: 300px;
}


