#studentVods h4{
	color: white;
	margin-top: 20px;
	margin-left: 10%;
	width: 80%;
	border-bottom: solid white 1px;
}

#studentVodImages{
	margin-left: 10%;
	border: solid 1px white;
	width: 80%;
	padding-left: 1%;
	background-color: #3a3a3d;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#studentVods button{
	margin-bottom: 10px;
}